include ../arrow-button/arrow-button

mixin input(options)
  -
    var blockId = options.blockId ? options.blockId : '_' + Math.random().toString(36).substr(2, 9);
    var inputId = options.inputId ? options.inputId : '_' + Math.random().toString(36).substr(2, 9);
    var modeArray = (options.mode ? options.mode : 'text').split('|');
    var type = options.type ? options.type : 'text';
    var label = options.label ? options.label : false;
    var placeholder = options.placeholder ? options.placeholder : false;
    var mask = options.mask ? options.mask : false;
    var oneFor = options.oneFor ? options.oneFor : false;
    var twoFor = options.twoFor ? options.twoFor : false;

    var attrClass = attributes.class ? (' '+attributes.class) : '';
    var addClass = attrClass;

    var selectQuestion = options.selectQuestion ? options.selectQuestion : false;
    var selectCaption = options.selectCaption ? options.selectCaption : false;
    var value = options.value ? options.value : selectQuestion;

    var isDate = modeArray.includes('date');
    var isDateRange = modeArray.includes('date-range');
    var isDropdown = modeArray.includes('dropdown');
    var isSubscribe = modeArray.includes('subscribe');
    var isSelect = options.list ? !!options.list.length : false;

    var classInput = options.classInput ? (' '+options.classInput) : '';
    if ((isDate || isDateRange) && !twoFor) classInput += ' datepicker-here';
    var readonly = isDateRange || (isDropdown && !isDate);

    var dataDropdownFor = false;
    if (isDropdown || isDate) dataDropdownFor = twoFor ? twoFor : inputId;

    var expButtonId = isSelect ? blockId : false;

    var applyButton = options.applyButton ? options.applyButton : false;
    var clearButton = options.clearButton ? options.clearButton : false;

  div(id=blockId class='input'+addClass data-dropdown-for=dataDropdownFor)
    if (label)
      label(class='input__label' for=inputId)= label
    if (isDropdown || isSubscribe)
      div(class='input__content')
        div(class='input__input-wrapper' data-expand-for=expButtonId)
          input(class='input__input'+classInput
            id=inputId type=type placeholder=placeholder value=value readonly=readonly data-mask=mask data-is-date=isDate
            data-is-date-range=isDateRange data-one-for=oneFor data-two-for=twoFor data-select-question=selectQuestion, data-select-caption=selectCaption)
          if (isDropdown)
            span(class='input__dropdown-button')
          else
            +arrow-button()(class='input__subscribe-button')
        if (isSelect)
          div(class='input__select-wrapper')
            ul(class='input__select-list')
              each obj, ind in options.list
                li(class='input__select-elem')
                  p(class='input__select-left')
                    span(class='input__select-name') !{obj.caption}
                  p(class='input__select-right')
                    span(class='input__select-minus' disabled)= '-'
                    span(class='input__select-sum')= obj.sum ? obj.sum : 0
                    span(class='input__select-plus')= '+'
            if (applyButton || clearButton)
              p(class='input__buttons')
                if (clearButton)
                  button(class='input__clear-button')= 'Очистить'
                if (applyButton)
                  +button({text: 'Применить', link: true, expandFor: expButtonId})(class='input__apply-button')
    else
      input(class='input__input'+classInput id=inputId type=type placeholder=placeholder value=value data-mask=mask data-is-date=isDate data-one-for=oneFor data-two-for=twoFor)