mixin input(options)
  -
    var type = options.type ? options.type : "text"
    var labelText = options.labelText ? options.labelText : ""
    var placeholder = options.placeholder ? options.placeholder : ""
    var id = options.id ? options.id : (+new Date).toString(16);
  p.input-block
    label(class=input-block__label for=id)= labelText
    input(class=input-block__input id=id type=type placeholder=placeholder)