include ../../components/input/input
include ../../components/date-pair/date-pair
include ../../components/checkbox/checkbox
include ../../components/advantages/advantages
include ../../components/radio/radio
include ../../components/like-button/like-button
include ../../components/rate/rate
include ../../components/review/review
include ../../components/range/range
include ../../components/button/button
include ../../components/arrow-button/arrow-button
include ../../components/pagination/pagination
include ../../components/bullets/bullets

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Form Elements
  body
    .container.mt140
      .row
        .column#column1-1
          +input({label: "text field", placeholder: "Email"})
          +input({blockId: "input-focused", label: "text field", value: "This is pretty awesome"})(class="input_focused")
          +input({
            blockId: "dropdown-1",
            mode: "dropdown",
            label: "Dropdown",
            selectQuestion: "Сколько гостей",
            list: [
              {caption: "взрослые"},
              {caption: "дети"},
              {caption: "младенцы"}
            ]
          })
          +input({
            mode: "date",
            inputId: "ui-single-date",
            label: "Masked text field",
            placeholder: "ДД.ММ.ГГГГ",
            mask: "00.00.0000"
          })(class="mb40")
          +date-pair({
            blockId: "date-pair-1",
            mode: "dropdown",
            label_1: "Date dropdown",
            label_2: "Date dropdown",
            placeholder: "ДД.ММ.ГГГГ",
            mask: "00.00.0000"
          })(class='mb20')

          .column-small
            +input({
              blockId: "",
              mode: "date-range|dropdown",
              classInput: "datepicker-small",
              label: "Filter date dropdown"
            })(class="mb40")
            +input({mode: "subscribe", label: "Subscription text field", placeholder: "Email"})(class="mb100")
        .column#column1-2
          +checkbox({
            blockId: "checkbox-top",
            caption: "Checkbox buttons",
            list: [
              {caption: "Можно курить"},
              {caption: "Можно с питомцами", checked: true},
              {caption: "Можно пригласить гостей<br>(до 10 человек)", checked: true}]
          })
          +radio({
            caption: "Radio buttons",
            data: [
              {value: "male", label: "Мужчина"},
              {value: "female", label: "Женщина"}
            ]
          })(class="mb40")
          +checkbox({
            blockId: "checkbox-toggler",
            toggler: true,
            caption: "Toggle",
            list: [
              {caption: "Получать спецпредложения", checked: true},
              {caption: "Получать спецпредложения"}
            ]
          })
          p.caption= 'Like button'
          div(id='like-buttons-wrapper' class="mb40")
            +like-button({count: 2})
            +like-button({count: 12, voted: true})
          p.caption#rate-wrapper-caption= 'Rate button'
          div(id='rate-wrapper' class='row-between')
            +rate({blockId: "rate-block1", rate: 3.8})
            +rate({blockId: "rate-block2", rate: 5})
        .column
          .column-small#column-1-3-1
            +range({caption: "Range slider", min: 0, max: 16000, start: 5000, end: 10000, symbol: "₽"})
          .column
            p.caption= 'Buttons'
            .row.mb30
              +button({id: 'button-1', text: 'Click me'})
              +button({text: 'Click me'})(class='hover')
            .row#row-1-3-2-2
              +button({id: 'button-2', text: 'Click me', hollow: true})
              +button({text: 'Click me', hollow: true})(class='hover')
            .row.mb30
              +button({id: 'button-3', text: 'Click me', link: true})
              +button({text: 'Click me', link: true})(class='hover')
            .row.mb40
              +button({text: 'Перейти к оплате', subscribe: true})
            p.caption= 'Pagination'
            +pagination({max: 15, caption: '1 – 12 из 100+ вариантов аренды'})
      .row
        .column#column-2-1
          .column-small
            +input({
              blockId: "dropdown-recount",
              mode: "dropdown",
              label: "Dropdown",
              classInput: "canted",
              selectQuestion: "Какие удобства",
              list: [
                {caption: "спальни", sum: 2},
                {caption: "кровати", sum: 2},
                {caption: "ванные комнаты"}
              ]
            })(class="recount")
            +input({
              blockId: "dropdown-expanded",
              mode: "dropdown",
              label: "Dropdown",
              classInput: "canted",
              selectQuestion: "Какие удобства",
              list: [
                {caption: "спальни", sum: 2},
                {caption: "кровати", sum: 2},
                {caption: "ванные комнаты"}
              ]
            })(class='expanded recount')
        .column#column-2-2
          +input({
            blockId: "input-list-apply",
            mode: "dropdown",
            label: "Dropdown",
            classInput: "canted",
            selectQuestion: "Сколько гостей",
            list: [
              {caption: "взрослые"},
              {caption: "дети"},
              {caption: "младенцы"}
            ],
            applyButton: true
          })(class='expanded')
        .column
          +input({
            blockId: "input-list-apply-clear",
            mode: "dropdown",
            label: "Dropdown",
            classInput: "canted",
            selectQuestion: "Сколько гостей",
            selectCaption: true,
            list: [
              {caption: "взрослые"},
              {caption: "дети"},
              {caption: "младенцы"}
            ],
            applyButton: true,
            clearButton: true
          })(class='expanded')
      .row
        .column#column-3-1
          .column-small
            +checkbox({
              blockId: "checkbox-minimized",
              caption: "Expandable checkbox list",
              list: [
                {caption: "Завтрак"},
                {caption: "Письменный стол"},
                {caption: "Стул для кормления"},
                {caption: "Кроватка"},
                {caption: "Телевизор"},
                {caption: "Шампунь"}
              ],
              expandable: true
            })
            +checkbox({
              blockId: "checkbox-bottom",
              caption: "Expandable checkbox list",
              list: [
                {caption: "Завтрак"},
                {caption: "Письменный стол", checked: true},
                {caption: "Стул для кормления", checked: true},
                {caption: "Кроватка", checked: true},
                {caption: "Телевизор"},
                {caption: "Шампунь"},
                {caption: "Телевизор"},
                {caption: "Шампунь"},
              ],
              expandable: true
            })(class='expanded')
        .column#column-3-2
          +checkbox({
            caption: "Rich checkbox buttons",
            list: [
              {rich: "Широкий коридор", caption: "Ширина коридоров в номере<br>не менее 91 см."},
              {rich: "Помощник для инвалидов", caption: "На 1 этаже вас встретит специалист  и проводит до номера."}
            ]
          })
        .column
          p.caption#bullets-caption= 'Bullet list'
          +bullets({list: [
              'Нельзя с питомцами',
              'Без вечеринок и мероприятий',
              'Время прибытия — после 13:00,<br>а выезд до 12:00'
            ]})
      .row
        .column#column-4-1
          +advantages({
            data: [
              {caption: "Комфорт", img: "../img/advantages-smile.png", text: "Шумопоглощающие стены"},
              {caption: "Удобство", img: "../img/advantages-city.png", text: "Окно в каждой из спален"}
            ]
          })
        .column#column-4-2
          +review({
            person: {name: "Мурад Сарафанов", img: "../img/persons/1.png"},
            text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
            likes: 12,
            date: Date.now() - 4.5*24*3600*1000
          })