include ../input/input
include ../date-pair/date-pair
include ../button/button

mixin book-form(options)
  -
    var name = (options && options.name) ? options.name : 'register-form_'+ (blockId ? blockId : Math.random().toString(36).substr(2, 9));
    var method = (options && options.method) ? options.method : 'post';
    var attrClass = attributes.class ? ' '+attributes.class : '';
    var addClass = attrClass;

    // input parameters
    var selectQuestion = (options && options.selectQuestion) ? options.selectQuestion : 'Сколько гостей';
    var guestList = (options && options.guestList) ? options.guestList : [
      {caption: "взрослые", guests: true},
      {caption: "дети", guests: true},
      {caption: "младенцы", guests: true, babys: true}
    ];

    // button parameters
    var buttonText = (options && options.buttonText) ? options.buttonText : 'Забронировать';


  form(class='book-form form' + addClass id=options.blockId action=options.action, method=method, name=name)
    fieldset(class='form__fieldset')
      div(class='book-form__legend form__legend')
        p.form__number
          span(class='form__number-symbol')= '№'
          span(class='form__number-value' data-format-number=true)= options.number
          if (options.lux)
            span(class='form__lux')= 'Люкс'
        p.form__price
          span(class='form__price-value' data-format-number=true)= options.price
          span(class='form__price-symbol')= options.symbol
          span(class='form__price-subtext')= 'в сутки'
      +date-pair({
        mode: "dropdown",
        label_1: "Прибытие",
        label_2: "Выезд",
        placeholder: "ДД.ММ.ГГГГ",
        mask: "00.00.0000"
      })
      +input({
        mode: "dropdown",
        label: "Гости",
        selectQuestion: selectQuestion,
        guestsCount: true,
        list: guestList,
        applyButton: true,
        clearButton: true
      })(class='book-form__guests')
    if (options.orderList && !!options.orderList.length)
      ul(class='book-form__list')
        each obj in options.orderList
          li(class='book-form__elem')
            p(class='book-form__elem-left') !{obj.caption}
            p(class='book-form__elem-right')
              if (obj.info)
                span(class='book-form__elem-info')= 'i'
              span(class='book-form__elem-price')= obj.price + options.symbol
    p(class='book-form__total')
      span(class='book-form__total-left')= 'Итого'
      span(class='book-form__total-center')
      span(class='book-form__total-right' data-format-number=true)= options.total + options.symbol
    +button({text: buttonText, subscribe: true}).form__submit