mixin rate-block(options)
  -
    var blockId = options.blockId ? options.blockId : '_' + Math.random().toString(36).substr(2, 9);
    var name = options.name ? options.name : '_' + Math.random().toString(36).substr(2, 9);
    var max = options.max ? parseInt(options.max) : 5;
    var rate = options.rate ? parseFloat(options.rate) : 0;
    var rateTrunc = Math.trunc(rate);
    var rateDecimal = rate - rateTrunc;
    var widthDecimal = 100 * (Math.asin( 2 * rateDecimal - 1 ) / Math.PI + 0.5)  // nonlinear filling looks better

    var interactiveClass = options.interactive ? ' rate-block_interactive' : '';
    var attrClass = attributes.class ? ' '+attributes.class : '';
    var addClass = interactiveClass + attrClass;

  div(id=blockId class='rate-block'+addClass)
    - for(var i = max; i > 0; i--)
      input(id=blockId+'-'+i class='rate-block__value' data-value=i name=name type='radio')
      label(for=blockId+'-'+i class='rate-block__star')
        if (i <= rateTrunc)
          span(class='rate-block__star-filled')
        if ((i - rate) < 1 && (i - rate) > 0)
          span(class='rate-block__star-filled' style="width:"+widthDecimal+'%')