mixin checkbox-block(options)
  -
    var blockId = options.blockId ? options.blockId : '_' + Math.random().toString(36).substr(2, 9);
    var caption = options.caption ? options.caption : false;
    var rich = options.rich ? options.rich : false;

    var isExpandable = options.expandable ? options.expandable : false;
    var expButtonId = isExpandable ? blockId : false;
    var expClass = isExpandable ? ' checkbox-block_expandable' : '';

    var isToggler = options.toggler ? options.toggler : false;
    var togglerClass = isToggler ? ' checkbox-block_toggler' : '';

    var attrClass = attributes.class ? ' '+attributes.class : '';
    var addClass = expClass + togglerClass + attrClass;

  div(id=blockId class='checkbox-block'+addClass)
    if (caption)
      p(class="checkbox-block__caption" data-exp-button-for=expButtonId)= caption
        if (isExpandable)
          span.checkbox-block__dropdown-button
    if (!!options.selectList.length)
      ul.checkbox-block__list
        each obj, ind in options.selectList
          - var locId = blockId+'-'+ind
          - var rich = obj.rich ? '<p class="checkbox-block__rich-text">'+obj.rich+'</p>' : '';
          - var elemRich = obj.rich ? ' checkbox-block__elem_rich' : '';
          - var labelRich = obj.rich ? ' checkbox-block__label_rich' : '';
          li(class='checkbox-block__elem'+elemRich)
            input(class="checkbox-block__input" id=locId type="checkbox" value=obj.caption checked=obj.checked)
            label(class="checkbox-block__label"+labelRich for=locId) !{rich}!{obj.caption}