mixin checkbox-block(options)
  -
    var blockId = options.blockId ? options.blockId : '_' + Math.random().toString(36).substr(2, 9);
    var caption = options.caption ? options.caption : false;

    var isExpandable = options.expandable ? options.expandable : false;
    var expButtonId = isExpandable ? blockId : false;
    var expClass = isExpandable ? ' checkbox-block_expandable' : '';

    var isToggler = options.toggler ? options.toggler : false;
    var togglerClass = isToggler ? ' checkbox-block_toggler' : '';

    var attrClass = attributes.class ? ' '+attributes.class : '';
    var addClass = expClass + togglerClass + attrClass;

  div(id=blockId class='checkbox-block'+addClass)
    if (caption)
      p(class="checkbox-block__caption" data-exp-button-for=expButtonId)= caption
        if (isExpandable)
          span.checkbox-block__dropdown-button
    if (!!options.selectList.length)
      ul.checkbox-block__list
        each obj, ind in options.selectList
          li.checkbox-block__elem
            - var locId = blockId+'-'+ind
            input(class="checkbox-block__input" id=locId type="checkbox" value=obj.caption checked=obj.checked)
            label(class="checkbox-block__label" for=locId) !{obj.caption}