mixin checkbox-block(options)
  -
    var caption = options.caption ? options.caption : false;
    var blockId = options.blockId ? options.blockId : '_' + Math.random().toString(36).substr(2, 9);
    var selectArray = options.selectList ? options.selectList.split('|') : [];
    var checkedArray = options.checkedList ? options.checkedList.split('|') : [];
    var isSelect = !!selectArray.length;
    var expButtonId = isSelect ? blockId : false;

    var attrClass = attributes.class ? ' '+attributes.class : '';
    var expClass = isSelect ? ' checkbox-block_expandable' : '';
    var addClass = expClass +  attrClass;

  div(id=blockId class='checkbox-block'+addClass)
    if (caption)
      p(class="checkbox-block__caption" data-exp-button-for=expButtonId)= caption
        if (isSelect)
          span.checkbox-block__dropdown-button
    if (isSelect)
      ul.checkbox-block__list
        each val, ind in selectArray
          li.checkbox-block__elem
            - var locId = blockId+'-'+ind
            - var checked = checkedArray.includes(ind.toString())
            input(class="checkbox-block__input" id=locId type="checkbox" value=val checked=checked)
            label(class="checkbox-block__label" for=locId)= val