include ../date-pair/date-pair
include ../button/button

mixin room-select-form(options)
  -
    var blockId = (options && options.blockId) ? options.blockId : false;
    var name = (options && options.name) ? options.name : 'room-select-form_'+ (blockId ? blockId : Math.random().toString(36).substr(2, 9));

    var action = (options && options.action) ? options.action : '';
    var method = (options && options.method) ? options.method : 'post';
    var legend = (options && options.legend) ? options.legend : 'Найдём номера под ваши пожелания';
    var attrClass = attributes.class ? ' '+attributes.class : '';
    var addClass = attrClass;

    // input parameters
    var selectQuestion = (options && options.selectQuestion) ? options.selectQuestion : 'Сколько гостей';
    var list = (options && options.list) ? options.list : [
      {caption: "взрослые"},
      {caption: "дети"},
      {caption: "младенцы"}
    ];

    // button parameters
    var buttonText = (options && options.buttonText) ? options.buttonText : 'Подобрать номер';

  form(class='room-select-form form'+addClass id=blockId action=action, method=method, name=name)
    legend(class='form__legend') !{legend}
    +date-pair({
      mode: "dropdown",
      label_1: "Прибытие",
      label_2: "Выезд",
      placeholder: "ДД.ММ.ГГГГ",
      mask: "00.00.0000"
    })
    +input({
      mode: "dropdown",
      label: "Гости",
      selectQuestion: selectQuestion,
      list: list
    })(class='room-select-form__list')
    +button({text: buttonText, subscribe: true})