include ../button/button

mixin header(options)
  -
    var logo = (options && options.logo) ? options.logo : 'img/logo.svg';
    var logoAlt = (options && options.logoAlt) ? options.logoAlt : 'Logo';
    var buttonLoginText = (options && options.buttonLoginText) ? options.buttonLoginText : 'Login';
    var buttonRegisterText = (options && options.buttonRegisterText) ? options.buttonRegisterText : 'Register';

    /*
    list: [
      {
        isCurrent: bool,
        caption: string,
        href: string,
        list: [
          caption: string,
          href: string
        ]
      }, ...
    ]
     */
    var attrClass = attributes.class ? ' ' + attributes.class : '';
    var addClass = attrClass;

  header(class='header'+addClass id=options.blockId)
    div(class='header__wrapper')
      nav(class='header__nav')
        a(class='header__nav-logo' href=options.logoHref)
          img(src=logo alt=logoAlt)
        button(class='header__nav-toggle')
          span
        if (!!options.list)
          div(class='header__nav-menu-wrapper')
            ul(class='header__nav-menu')
              each link, ind in options.list
                -
                  var currentClass = link.isCurrent ? ' header__nav-link_current' : '';
                  var listClass = link.submenu ? ' header__nav-link_dropdown' : '';
                  var addClass = currentClass + listClass;
                li(class='header__nav-item')
                  a(class='header__nav-link'+addClass href=link.href title=(link.title ? link.title : link.caption))= link.caption
                  if (link.submenu)
                    ul(class='header__nav-submenu')
                      each sublink in link.submenu
                        li
                          a(class='header__nav-link' href=sublink.href title=(sublink.title ? sublink.title : sublink.caption))= sublink.caption
                if (ind === options.list.length - 1)
                  if (!!options.user)
                    li(class='header__nav-item header__nav-item_mobile')
                      a(class='header__nav-link header__button_profile' href=options.user.link)= options.user.name
                  else
                    li(class='header__nav-item header__nav-item_mobile')
                      a(class='header__nav-link header__button_login')= buttonLoginText
                    li(class='header__nav-item header__nav-item_mobile')
                      a(class='header__nav-link header__button_register')= buttonRegisterText

      div(class='header__user'+(!!options.user ? ' header__user_authorized' : ''))
        if (!!options.user)
          a(class='header__profile header__button_profile' href=options.user.link)= options.user.name
        else
          +button({text: buttonLoginText, hollow: true}).header__button.header__button_login
          +button({text: buttonRegisterText}).header__button.header__button_register