mixin checkbox(options)
  -
    var blockId = options.blockId ? options.blockId : '_' + Math.random().toString(36).substr(2, 9);

    var expButtonId = !!options.expandable ? blockId : false;
    var expClass = !!options.expandable ? ' checkbox_expandable' : '';

    var togglerClass = !!options.toggler ? ' checkbox_toggler' : '';

    var attrClass = attributes.class ? ' '+attributes.class : '';
    var addClass = expClass + togglerClass + attrClass;

  div(id=blockId class='checkbox'+addClass)
    .checkbox__wrapper
      if (!!options.caption)
        p(class="checkbox__caption" data-expand-for=expButtonId)= options.caption
          if (!!options.expandable)
            span.checkbox__dropdown-button
      if (!!options.list.length)
        ul.checkbox__list
          each obj, ind in options.list
            - var locId = blockId+'-'+ind
            - var rich = obj.rich ? '<span class="checkbox__rich-text">'+obj.rich+'</span>' : '';
            - var elemRich = obj.rich ? ' checkbox__elem_rich' : '';
            - var labelRich = obj.rich ? ' checkbox__label_rich' : '';
            - var value = obj.value !== undefined ? obj.value : obj.caption;
            li(class='checkbox__elem'+elemRich)
              input(class="checkbox__input" id=locId type="checkbox" value=value checked=obj.checked)
              label(class="checkbox__label"+labelRich for=locId) !{rich}!{obj.caption}