mixin input-block(options)
  -
    var blockId = options.blockId ? options.blockId : '_' + Math.random().toString(36).substr(2, 9);
    var inputId = options.inputId ? options.inputId : '_' + Math.random().toString(36).substr(2, 9);
    var modeArray = (options.mode ? options.mode : 'text').split('|');
    var selectArray = options.selectList ? options.selectList.split('|') : [];
    var type = options.type ? options.type : 'text';
    var label = options.label ? options.label : false;
    var placeholder = options.placeholder ? options.placeholder : false;
    var mask = options.mask ? options.mask : false;
    var oneFor = options.oneFor ? options.oneFor : false;
    var twoFor = options.twoFor ? options.twoFor : false;

    var attrClass = attributes.class ? (' '+attributes.class) : '';
    var addClass = attrClass;

    var selectQuestion = options.selectQuestion ? options.selectQuestion : false;
    var value = options.value ? options.value : selectQuestion;

    var isDate = modeArray.includes('date');
    var isDateRange = modeArray.includes('date-range');
    var isDropdown = modeArray.includes('dropdown');
    var isSubscribe = modeArray.includes('subscribe');
    var isSelect = !!selectArray.length;

    var classInput = options.classInput ? (' '+options.classInput) : '';
    if ((isDate || isDateRange) && !twoFor) classInput += ' datepicker-here';
    var readonly = isDateRange || (isDropdown && !isDate);

    var dataDropdownFor = false;
    if (isDropdown || isDate) dataDropdownFor = twoFor ? twoFor : inputId;

    var buttonMode = isDropdown ? 'dropdown-button' : 'subscribe-button';
    var expButtonId = isSelect ? blockId : false;

  div(id=blockId class='input-block'+addClass data-dropdown-for=dataDropdownFor)
    if (label)
      label(class='input-block__label' for=inputId)= label
    if (isDropdown || isSubscribe)
      div(class='input-block__content')
        div(class='input-block__input-wrapper' data-exp-button-for=expButtonId)
          input(class='input-block__input'+classInput
            id=inputId type=type placeholder=placeholder value=value readonly=readonly data-mask=mask data-is-date=isDate
            data-is-date-range=isDateRange data-one-for=oneFor data-two-for=twoFor data-select-question=selectQuestion)
          span(class='input-block__'+buttonMode)
        if (isSelect)
          ul(class='input-block__select-list')
            each val in selectArray
              li(class='input-block__select-elem')
                p(class='input-block__select-left')
                  span(class='input-block__select-name')= val
                p(class='input-block__select-right')
                  span(class='input-block__select-minus' disabled)= '-'
                  span(class='input-block__select-quantity')= '0'
                  span(class='input-block__select-plus')= '+'
    else
      input(class='input-block__input'+classInput id=inputId type=type placeholder=placeholder value=value data-mask=mask data-is-date=isDate data-one-for=oneFor data-two-for=twoFor)