mixin radio-block(options)
  -
    var blockId = options.blockId ? options.blockId : '_' + Math.random().toString(36).substr(2, 9);
    var caption = options.caption ? options.caption : false;
    var name = options.name ? options.name : '_' + Math.random().toString(36).substr(2, 9);
    var data = options.data;
    var attrClass = attributes.class ? ' '+attributes.class : '';

  div(class='radio-block'+attrClass)
    if (caption)
      p(class='radio-block__caption')= caption
    if (!!data.length)
      p(class='radio-block__content')
        each obj, ind in data
          - var locId = blockId+'-'+ind
          - var checked = ind===0 ? true : obj.checked
          input(class='radio-block__input' id=locId name=name value=obj.value checked=checked type='radio')
          label(class='radio-block__label' for=locId) !{obj.label}